<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.mapper.pacs.ReportQueryPacsMapper">

    <!--检查报告列表-->
    <select id="getRisRecord" parameterType="map" resultType="java.util.Map">
        select * from v_getRisRecord t where 1=1
        <if test="idCard!=null and idCard !='' ">
            and "idCard"  in (${idCard})
        </if>

    </select>
    <!--检验报告列表详细信息-->
    <select id="getRisDetails" parameterType="map" resultType="java.util.Map">
        select * from v_getRisDetails t where 1=1
        <if test="examNo!=null and examNo !='' ">
            and "examNo" =#{examNo}
        </if>

    </select>

</mapper>